@model IEnumerable<BlogApp.Models.CategoryModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<h1>Index</h1>
<hr />
<p>
    <a class="btn btn-primary" asp-action="Create">Yeni Kategori ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KategoriAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BlogSayisi)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.KategoriAdi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BlogSayisi)
                </td>

                <td>
                    <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@item.Id">Düzenle</a> |
                    <a class="btn btn-primary btn-sm" asp-action="Details" asp-route-id="@item.Id">Detay</a> |
                    <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
